{% extends '@Approval/layout.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% from '@Approval/macros.html.twig' import status_color_class %}

{% block report_title %}{{ report_title|trans }}{% endblock %}

{% block report %}
    {% if approvePreviousWeeksMessage and approvePreviousWeeksMessage < (current | date_format('Y-m-d')) %}
        {{ widgets.callout('danger', 'warning.add_to_approve_previous_weeks'|trans) }}
    {% endif %}

    {% if selectedUserSundayIssue %}
        {{ widgets.callout('danger', 'warning.selected_user_sunday_issue'|trans) }}
    {% endif %}

    {% if currentUserSundayIssue %}
        {{ widgets.callout('danger', 'warning.currentUserSundayIssue'|trans) }}
    {% endif %}

    <div class="card mb-4">
        <div class="card-body {{ status_color_class(status) }}">
            {{ form_start(form, {'attr': {'class': 'form-inline', 'id': 'user_approval_form'}}) }}
            <div class="btn-list w-100">
            {% if form.date is defined %}
                {{ form_row(form.date, {'label': false}) }}
            {% endif %}
            {% if form.user is defined %}
                {{ form_row(form.user, {'label': false}) }}
            {% endif %}
            </div>

            <span style="float: right">
                {% if timesheet | length > 0 %}
                    <a id="descriptionButton" class="btn btn-default btn-create" title="{{ 'tooltip.description'|trans }}">
                        <i class="fas fa-1x fa-info-circle"></i>
                    </a>
                    <a id="timesheetButton" class="btn btn-default btn-create" title="{{ 'tooltip.timesheets'|trans }}">
                        <i class="fas fa-1x fa-user-clock"></i>
                    </a>
                {% endif %}
                {% if status is not empty %}
                    <a id="historyButton" class="btn btn-default btn-create" title="{{ 'tooltip.history'|trans }}">
                        <i class="fa fa-1x fa-history"></i>
                    </a>
                {% endif %}
                    {% if (status == 'submitted') and (user.id != currentUser or canManageHimself) %}
                    <a href="{{ path('approve',{'approveId':approveId,'user':user.id,'date':current|date('Y-m-d')}) }}" class="btn btn-default btn-create" title="{{ 'tooltip.approve'|trans }}">
                        <i class="fa fa-1x fa-check-circle"></i>
                    </a>
                    <a id="deniedButton" class="btn btn-default btn-create closeModal" title="{{ 'tooltip.reject'|trans }}" data-bs-toggle="modal" data-bs-target="#deniedMessage">
                        <i class="fa fa-1x fa-times-circle"></i>
                    </a>
                {% elseif (status is empty or status == 'not_submitted') %}
                    <a class="btn btn-default btn-create" title="{{ 'tooltip.submit'|trans }}"
                        {% if (approvePreviousWeeksMessage and approvePreviousWeeksMessage < (current | date_format('Y-m-d'))) %}
                            disabled
                        {% else %}
                            href="{{ path('add_to_approve',{'user':user.id,'date':current|date('Y-m-d')}) }}"
                        {% endif %}
                        >
                        <i class="fa fa-1x fa-paper-plane"></i>
                    </a>
                {% elseif isSuperAdmin and status == 'approved' %}
                    <a id="undoButton" class="btn btn-default btn-create"  title="{{ 'tooltip.undo'| trans }}">
                        <i class="fa fa-1x fa-undo"></i>
                    </a>
                {% endif %}
            </span>
            {{ form_end(form) }}
        </div>
    </div>

    <div id="history" class="mb-4" style="display: none">
        <h3>{{ 'tooltip.history'|trans }}</h3>
        <table class="table table-hover dataTable">
            <thead>
            <tr>
                <th>{{ 'table.approver'|trans }}</th>
                <th>{{ 'table.status'|trans }}</th>
                <th>{{ 'table.message'|trans }}</th>
                <th>{{ 'table.dateOfApprove'|trans }}</th>
            </tr>

            {% for ap in approve %}
                <tr class="{{ status_color_class(ap['status']) }}">
                    <td>{{ ap['username'] }}</td>
                    <td>{{ ap['status'] | trans }}</td>
                    <td>{{ ap['message'] }}</td>
                    <td>{{ ap['date'] | date("d.m.Y H:i:s") }}</td>
                </tr>
            {% endfor %}
            </thead>
        </table>
    </div>
    <div class="modal fade" id="deniedMessage" tabindex="-1" aria-labelledby="deniedMessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deniedMessageLabel">Deny approval</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="deniedInput">{{ 'description'|trans }}</label>
                    <input type="text" id="deniedInput" placeholder="Approval denied" class="form-input p-2 w-100">
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary pull-left" id="deniedLink">{{ 'action.save'|trans }}</a>
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    {% set totals = {'totals': 0} %}
    {% set columns = 2 %}
    <div class="mt-4">
        <h4 class="border-bottom pb-2 mb-3">{{ 'label.weekly_report'|trans }}</h4>
        <div style="overflow-x: auto; width: 100%;">
            <table class="table table-hover dataTable">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    {% for day in days.dateTimes %}
                        <th class="text-center text-wrap{% if day is weekend %} weekend{% endif %}{% if day is today %} today{% endif %}">
                            {{ day|date_weekday }}
                        </th>
                        {% set columns = columns + 1 %}
                        {% set totals = totals|merge({(day|report_date): 0}) %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                {% for title, project in rows %}
                    {% set totals = totals|merge({'totals': (totals['totals'] + project.duration)}) %}
                    <tr class="activity">
                        <td class="text-nowrap">
                            <strong> {{ title }}  </strong>
                        </td>
                        <td class="text-nowrap text-center total">{{ project.duration|duration }}</td>
                        {% for day in project.days.days %}
                            <td class="text-nowrap text-center day-total{% if day.date is weekend %} weekend{% endif %}{% if day.date is today %} today{% endif %}">
                                {% if day.duration > 0 %}
                                    {% set totals = totals|merge({(day.date|report_date): (totals[day.date|report_date] + day.duration)}) %}
                                    <strong>{{ day.duration|duration }}</strong>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% for key, row in project.details %}
                        <tr class="description">
                            <td class="text-nowrap"> {{ key }} </td>
                            <td class="text-nowrap text-center total">{{ row.duration|duration }}</td>
                            {% for day in row.days.days %}
                                <td class="text-nowrap text-center day-total{% if day.date is weekend %} weekend{% endif %}{% if day.date is today %} today{% endif %}">
                                    {% if day.duration > 0 %}
                                        <strong>{{ day.duration|duration }}</strong>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr class="summary">
                    <td>{{ 'stats.duration_total'|trans }} {% if expectedDuration is not empty %}[{{ 'stats.duration_expected'|trans }}] {% endif %}</td>
                    <td class="text-nowrap text-center total">{{ totals['totals']|duration }}{% if expectedDuration is not empty %} [{{ expectedDuration|duration }}]{% endif %}</td>
                    {% for day in days.dateTimes %}
                        <td class="text-nowrap text-center day-total{% if day is weekend %} weekend{% endif %}">
                            {{ totals[day|report_date]|duration }}

                            {% if errors[(day | date_format('Y-m-d'))] is defined and (errors[(day | date_format('Y-m-d'))] | length) > 0 %}
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                      title="{{ errors[(day | date_format('Y-m-d'))] | join('\n\n') }}">
                                    <i class="fa fa-1x fa-exclamation-circle" style="color: red"></i>
                                </span>
                            {% endif %}

                            {% set dayKey = day|date_format('Y-m-d') %}
                            {% if absences is defined and absences[dayKey] is defined %}
                                {% set absence = absences[dayKey] %}
                                <span class="d-inline-block ms-1" tabindex="0" data-bs-toggle="tooltip"
                                      title="{{ absence.type|title }} - {{ absence.comment }}{% if absence.halfDay %} (Half Day){% endif %}"
                                      style="cursor: help;">
                                    <i class="{{ absence.type == 'sickness' ? 'fas fa-user-injured text-danger' : 
                                               absence.type == 'holiday' ? 'fas fa-umbrella-beach text-success' : 
                                               absence.type == 'time_off' ? 'fas fa-calendar-day text-info' : 
                                               'fas fa-calendar-minus text-warning' }}"
                                       style="font-size: 0.9em; opacity: 0.8;"></i>
                                </span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {# Overtime yearly display removed as requested #}
                {% if dailyExpectedDurations is defined %}
                    <tr class="summary">
                        <td>{{ 'label.daily_difference'|trans }}</td>
                        <td class="text-nowrap text-center total">
                            {% set totalDiff = totals['totals'] - expectedDuration %}
                            <span class="{% if totalDiff > 0 %}text-danger{% elseif totalDiff < 0 %}text-danger{% else %}text-success{% endif %}">
                                {% if totalDiff > 0 %}+{% endif %}{{ totalDiff|duration }}
                            </span>
                        </td>
                        {% for day in days.dateTimes %}
                            {% set dayKey = day|date_format('Y-m-d') %}
                            {% set dayActual = totals[day|report_date] %}
                            {% set dayExpected = dailyExpectedDurations[dayKey]|default(0) %}
                            {% set dayDiff = dayActual - dayExpected %}
                            <td class="text-nowrap text-center day-total{% if day is weekend %} weekend{% endif %}">
                                <span class="{% if dayDiff > 0 %}text-danger{% elseif dayDiff < 0 %}text-danger{% else %}text-success{% endif %}">
                                    {% if dayDiff > 0 %}+{% endif %}{{ dayDiff|duration }}
                                </span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
                </tfoot>

            </table>
        </div>
        
        <!-- Absence Legend -->
        {% if absences is defined and absences|length > 0 %}
            <div class="mt-3 p-2 border rounded absence-legend">
                <small class="text-light">
                    <strong>{{ 'label.absence_legend'|trans }}:</strong>
                    <span class="ms-3">
                        <i class="fas fa-user-injured text-danger me-1" title="Sick Leave"></i> {{ 'label.absence_sick'|trans }}
                    </span>
                    <span class="ms-3">
                        <i class="fas fa-umbrella-beach text-success me-1" title="Holiday"></i> {{ 'label.absence_holiday'|trans }}
                    </span>
                    <span class="ms-3">
                        <i class="fas fa-calendar-day text-info me-1" title="Time Off"></i> {{ 'label.absence_timeoff'|trans }}
                    </span>
                    <span class="ms-3">
                        <i class="fas fa-calendar-minus text-warning me-1" title="Other"></i> {{ 'label.absence_other'|trans }}
                    </span>
                </small>
            </div>
            
            <style>
                .absence-legend {
                    background-color: rgba(255, 255, 255, 0.05) !important;
                    border-color: rgba(255, 255, 255, 0.1) !important;
                    backdrop-filter: blur(10px);
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
                }
                
                .absence-legend:hover {
                    background-color: rgba(255, 255, 255, 0.08) !important;
                    border-color: rgba(255, 255, 255, 0.15) !important;
                }
                
                /* Ensure text is readable in both light and dark themes */
                .absence-legend small {
                    color: inherit !important;
                }
                
                .absence-legend strong {
                    color: #ffffff !important;
                    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                }
            </style>
        {% endif %}
    </div>

    {% if activityTotals is defined and activityTotals|length > 0 %}
        <hr class="my-5">
        <div class="mt-5">
            <h4 class="border-bottom pb-2 mb-3">{{ 'label.project_and_activity_overview'|trans }}</h4>
            
            <!-- Detailed Activity Accordion -->
            <div class="accordion" id="activityAccordion">
                {% for customerName, customer in activityTotals %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="customer-{{ loop.index }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false" aria-controls="collapse-{{ loop.index }}">
                                <strong>{{ customer.name }}</strong>
                                <span class="ms-auto me-3">{{ customer.total|duration }}</span>
                            </button>
                        </h2>
                        <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="customer-{{ loop.index }}">
                            <div class="accordion-body p-0">
                                <div class="accordion" id="projectAccordion-{{ loop.index }}">
                                    {% for projectName, project in customer.projects %}
                                        <div class="accordion-item border-0">
                                            <h3 class="accordion-header" id="project-{{ loop.parent.loop.index }}-{{ loop.index }}">
                                                <button class="accordion-button accordion-button-sm" type="button" data-bs-toggle="collapse" data-bs-target="#project-collapse-{{ loop.parent.loop.index }}-{{ loop.index }}" aria-expanded="true" aria-controls="project-collapse-{{ loop.parent.loop.index }}-{{ loop.index }}">
                                                    <span class="ms-3">{{ project.name }}</span>
                                                    <span class="ms-auto me-3">{{ project.total|duration }}</span>
                                                </button>
                                            </h3>
                                            <div id="project-collapse-{{ loop.parent.loop.index }}-{{ loop.index }}" class="accordion-collapse collapse show" aria-labelledby="project-{{ loop.parent.loop.index }}-{{ loop.index }}">
                                                <div class="accordion-body p-0">
                                                    <table class="table table-sm mb-0">
                                                        <tbody>
                                                            {% for activity in project.activities %}
                                                                <tr>
                                                                    <td class="ps-6">{{ activity.name }}</td>
                                                                    <td class="text-end pe-3">{{ activity.duration|duration }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-3 text-end">
                <strong>{{ 'stats.duration_total'|trans }}: {{ activityTotalDuration|duration }}</strong>
            </div>
        </div>
    {% endif %}

    {% if projectTotals is defined and projectTotals|length > 0 %}
        <hr class="my-4">
        <div class="mt-4">
            <h4 class="border-bottom pb-2 mb-3">{{ 'label.project_totals'|trans }}</h4>
            
            <!-- Project Pie Chart -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card chart-card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ 'label.project_distribution'|trans }}</h5>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-sm btn-outline-secondary chart-expand-btn" data-bs-toggle="modal" data-bs-target="#projectChartModal" title="{{ 'tooltip.expand_chart'|trans }}">
                                <i class="fas fa-expand"></i>
                            </button>
                            <div class="chart-container">
                                <canvas id="projectPieChart" width="300" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ 'label.project_details'|trans }}</h5>
                        </div>
                        <div class="card-body">
                            <div style="overflow-x: auto; width: 100%;">
                                <table class="table table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>{{ 'header.customer'|trans }}</th>
                                        <th>{{ 'header.project'|trans }}</th>
                                        <th class="text-center">{{ 'header.duration'|trans }}</th>
                                        <th class="text-center">{{ 'header.percentage'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for project in projectTotals %}
                                        <tr>
                                            <td>{{ project.customer }}</td>
                                            <td>{{ project.project }}</td>
                                            <td class="text-center">{{ project.duration|duration }}</td>
                                            <td class="text-center">{{ ((project.duration / projectTotalDuration) * 100)|round(1) }}%</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="summary">
                                        <td colspan="2"><strong>{{ 'stats.duration_total'|trans }}</strong></td>
                                        <td class="text-center"><strong>{{ projectTotalDuration|duration }}</strong></td>
                                        <td class="text-center"><strong>100%</strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if activityTotals is defined and activityTotals|length > 0 %}
        <hr class="my-4">
        <div class="mt-4">
            <h4 class="border-bottom pb-2 mb-3">{{ 'label.activity_totals'|trans }}</h4>
            
            <!-- Activity Pie Chart -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card chart-card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ 'label.activity_distribution'|trans }}</h5>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-sm btn-outline-secondary chart-expand-btn" data-bs-toggle="modal" data-bs-target="#activityChartModal" title="{{ 'tooltip.expand_chart'|trans }}">
                                <i class="fas fa-expand"></i>
                            </button>
                            <div class="chart-container">
                                <canvas id="activityPieChart" width="300" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ 'label.activity_details'|trans }}</h5>
                        </div>
                        <div class="card-body">
                            <div style="overflow-x: auto; width: 100%; max-height: 400px; overflow-y: auto;">
                                <table class="table table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>{{ 'header.customer'|trans }}</th>
                                        <th>{{ 'header.project'|trans }}</th>
                                        <th>{{ 'header.activity'|trans }}</th>
                                        <th class="text-center">{{ 'header.duration'|trans }}</th>
                                        <th class="text-center">{{ 'header.percentage'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for customerName, customer in activityTotals %}
                                        {% for projectName, project in customer.projects %}
                                            {% for activity in project.activities %}
                                                <tr>
                                                    <td>{{ customer.name }}</td>
                                                    <td>{{ project.name }}</td>
                                                    <td>{{ activity.name }}</td>
                                                    <td class="text-center">{{ activity.duration|duration }}</td>
                                                    <td class="text-center">{{ ((activity.duration / activityTotalDuration) * 100)|round(1) }}%</td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="summary">
                                        <td colspan="3"><strong>{{ 'stats.duration_total'|trans }}</strong></td>
                                        <td class="text-center"><strong>{{ activityTotalDuration|duration }}</strong></td>
                                        <td class="text-center"><strong>100%</strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if timesheet | length > 0 %}
        <div id="timesheet_approval" style="overflow-x: auto; width: 100%; margin-top: 2rem; display: none">
            <table class="table table-hover dataTable">
                <thead>
                <tr>
                    <th>{{ 'header.date' | trans }}</th>
                    <th>{{ 'header.begin' | trans }}</th>
                    <th>{{ 'header.end' | trans }}</th>
                    <th>{{ 'header.duration' | trans }}</th>
                    <th>{{ 'header.customer' | trans }}</th>
                    <th>{{ 'header.project' | trans }}</th>
                    <th>{{ 'header.activity' | trans }}</th>
                    <th>{{ 'header.description' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for sheet in timesheet %}
                    <tr>
                        <td>{{ sheet['date'] }}</td>
                        <td>{{ sheet['begin'] }}</td>
                        <td>{{ sheet['end'] }}</td>
                        <td>
                            {{ sheet['duration'] | duration }}

                            {% if sheet['error'] | length > 0 %}
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                          title="{{ sheet['error'] | join('\n\n') }}">
                                    <i class="fa fa-1x fa-exclamation-circle" style="color: red"></i>
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ sheet['customerName'] }}</td>
                        <td>{{ sheet['projectName'] }}</td>
                        <td>{{ sheet['activityName'] }}</td>
                        <td>{{ sheet['description'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
    <!-- Project Chart Modal -->
    <div class="modal fade chart-modal" id="projectChartModal" tabindex="-1" aria-labelledby="projectChartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectChartModalLabel">{{ 'label.project_distribution'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <canvas id="projectPieChartModal" width="800" height="600"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Activity Chart Modal -->
    <div class="modal fade chart-modal" id="activityChartModal" tabindex="-1" aria-labelledby="activityChartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activityChartModalLabel">{{ 'label.activity_distribution'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <canvas id="activityPieChartModal" width="800" height="600"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .accordion-button-sm {
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
        }
        
        .accordion-button-sm:not(.collapsed) {
            background-color: #f8f9fa;
            color: #495057;
        }
        
        .accordion-item .accordion-item {
            border-left: 2px solid #dee2e6;
            margin-left: 1rem;
        }
        
        .accordion-item .accordion-item .accordion-item {
            border-left: 2px solid #adb5bd;
            margin-left: 1.5rem;
        }
        
        .table-sm td {
            padding: 0.25rem 0.5rem;
            font-size: 0.9rem;
        }
        
        .accordion-body .accordion-body {
            padding: 0;
        }
        
        .chart-container {
            position: relative;
            height: 300px;
            width: 100%;
        }
        
        .chart-card {
            position: relative;
        }
        
        .chart-expand-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            opacity: 0.7;
            transition: opacity 0.2s;
        }
        
        .chart-card:hover .chart-expand-btn {
            opacity: 1;
        }
        
        .chart-modal .modal-dialog {
            max-width: 90vw;
            max-height: 90vh;
        }
        
        .chart-modal .modal-body {
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        /* Dark mode accordion styling */
        .accordion-button {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
            border-color: var(--bs-border-color);
        }
        
        .accordion-button:not(.collapsed) {
            background-color: var(--bs-secondary-bg);
            color: var(--bs-body-color);
        }
        
        .accordion-button:hover {
            background-color: var(--bs-secondary-bg);
            color: var(--bs-body-color);
        }
        
        .accordion-button:focus {
            background-color: var(--bs-secondary-bg);
            color: var(--bs-body-color);
            box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
        }
        
        .accordion-button-sm {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
        }
        
        .accordion-button-sm:not(.collapsed) {
            background-color: var(--bs-secondary-bg);
            color: var(--bs-body-color);
        }
        
        .accordion-button-sm:hover {
            background-color: var(--bs-secondary-bg);
            color: var(--bs-body-color);
        }
        
        .accordion-item {
            border-color: var(--bs-border-color);
        }
    </style>
    <script type="text/javascript">
    document.addEventListener("kimai.initialized", function () {
        const userForm = document.getElementById('user_approval_form');
        if (userForm !== null) {
            userForm.addEventListener('change', (event) => {
                userForm.submit();
            });
        }

        const undoButton = document.getElementById("undoButton");
        if (undoButton !== null) {
            undoButton.addEventListener("click", () => {
                if (confirm('{{ 'label.undoMessage'|trans }}'.replace(/&quot;/g,'"')) === true) {
                    window.location.href = '{{ path('not_approved',{'approveId':approveId,'user':user.id,'date':current|date('Y-m-d')}) }}'.replace(/&amp;/g,'&');
                }
            });
        }

        const historyButton = document.getElementById("historyButton");
        if (historyButton !== null) {
            historyButton.addEventListener("click", () => {
                document.getElementById("history").style.display = document.getElementById("history").style.display === 'block' ? 'none' : 'block';
            });
        }

        const timesheetButton = document.getElementById("timesheetButton");
        if (timesheetButton !== null) {
            timesheetButton.addEventListener("click", () => {
                document.getElementById("timesheet_approval").style.display = document.getElementById("timesheet_approval").style.display === 'block' ? 'none' : 'block';
            });
        }

        let elements = document.getElementsByClassName("description");
        for (let element of elements) {
            element.hidden = true;
        }

        const descriptionButton = document.getElementById("descriptionButton");
        if (descriptionButton !== null) {
            descriptionButton.addEventListener("click", () => {
                let elements = document.getElementsByClassName("description");
                for (let element of elements) {
                    element.hidden = !element.hidden;
                }
            });
        }

        const denialButton = document.getElementById("deniedLink");
        const denialInput = document.getElementById("deniedInput");
        if (denialButton !== null && denialInput !== null) {
            denialButton.addEventListener("click", () => {
                document.location.href = '{{ path('denied',{'approveId':approveId,'user':user.id,'date':current|date('Y-m-d'),'input':'__XX__'})|raw }}'.replace(/__XX__/, denialInput.value);
            });
        }
        
        // Initialize pie charts if data is available
        {% if projectTotals is defined and projectTotals|length > 0 %}
        // Project Pie Chart
        const projectCtx = document.getElementById('projectPieChart');
        if (projectCtx) {
            const projectData = {
                labels: [
                    {% for project in projectTotals %}
                        '{{ project.customer }} - {{ project.project }}',
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for project in projectTotals %}
                            {{ project.duration }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF',
                        '#FF9F40', '#FF6384', '#C9CBCF', '#4BC0C0', '#FF6384',
                        '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40'
                    ],
                    borderWidth: 2,
                    borderColor: '#fff'
                }]
            };
            
            const projectChart = new Chart(projectCtx, {
                type: 'pie',
                data: projectData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                padding: 20,
                                usePointStyle: true,
                                font: {
                                    size: 12
                                }
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const label = context.label || '';
                                    const value = context.parsed;
                                    const total = context.dataset.data.reduce((a, b) => a + b, 0);
                                    const percentage = ((value / total) * 100).toFixed(1);
                                    return label + ': ' + (value / 3600).toFixed(1) + 'h (' + percentage + '%)';
                                }
                            }
                        }
                    }
                }
            });
            
            // Project Chart Modal
            const projectModal = document.getElementById('projectChartModal');
            if (projectModal) {
                projectModal.addEventListener('shown.bs.modal', function () {
                    const modalCtx = document.getElementById('projectPieChartModal');
                    if (modalCtx) {
                        new Chart(modalCtx, {
                            type: 'pie',
                            data: projectData,
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                        labels: {
                                            padding: 20,
                                            usePointStyle: true,
                                            font: {
                                                size: 14
                                            }
                                        }
                                    },
                                    tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                const label = context.label || '';
                                                const value = context.parsed;
                                                const total = context.dataset.data.reduce((a, b) => a + b, 0);
                                                const percentage = ((value / total) * 100).toFixed(1);
                                                return label + ': ' + (value / 3600).toFixed(1) + 'h (' + percentage + '%)';
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    }
                });
            }
        }
        {% endif %}
        
        {% if activityTotals is defined and activityTotals|length > 0 %}
        // Activity Pie Chart
        const activityCtx = document.getElementById('activityPieChart');
        if (activityCtx) {
            const activityLabels = [];
            const activityData = [];
            
                    {% for customerName, customer in activityTotals %}
            {% for projectName, project in customer.projects %}
                {% for activity in project.activities %}
                    activityLabels.push('{{ activity.name }}');
                    activityData.push({{ activity.duration }});
                {% endfor %}
            {% endfor %}
        {% endfor %}
            
            const activityChartData = {
                labels: activityLabels,
                datasets: [{
                    data: activityData,
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF',
                        '#FF9F40', '#FF6384', '#C9CBCF', '#4BC0C0', '#FF6384',
                        '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF', '#FF9F40',
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF',
                        '#FF9F40', '#FF6384', '#C9CBCF', '#4BC0C0', '#FF6384'
                    ],
                    borderWidth: 2,
                    borderColor: '#fff'
                }]
            };
            
            const activityChart = new Chart(activityCtx, {
                type: 'pie',
                data: activityChartData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                padding: 20,
                                usePointStyle: true,
                                font: {
                                    size: 10
                                }
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const label = context.label || '';
                                    const value = context.parsed;
                                    const total = context.dataset.data.reduce((a, b) => a + b, 0);
                                    const percentage = ((value / total) * 100).toFixed(1);
                                    return label + ': ' + (value / 3600).toFixed(1) + 'h (' + percentage + '%)';
                                }
                            }
                        }
                    }
                }
            });
            
            // Activity Chart Modal
            const activityModal = document.getElementById('activityChartModal');
            if (activityModal) {
                activityModal.addEventListener('shown.bs.modal', function () {
                    const modalCtx = document.getElementById('activityPieChartModal');
                    if (modalCtx) {
                        new Chart(modalCtx, {
                            type: 'pie',
                            data: activityChartData,
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                        labels: {
                                            padding: 20,
                                            usePointStyle: true,
                                            font: {
                                                size: 12
                                            }
                                        }
                                    },
                                    tooltip: {
                                        callbacks: {
                                            label: function(context) {
                                                const label = context.label || '';
                                                const value = context.parsed;
                                                const total = context.dataset.data.reduce((a, b) => a + b, 0);
                                                const percentage = ((value / total) * 100).toFixed(1);
                                                return label + ': ' + (value / 3600).toFixed(1) + 'h (' + percentage + '%)';
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    }
                });
            }
        }
        {% endif %}
    });
    </script>
{% endblock %}
